* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
a {
  display: block;
}
p {
  padding: 0;
  margin: 0;
}
.wrap {
  display: grid;
  grid-template-rows: 100px 300px 200px 100px;
  width: 1200px;
  margin: auto;
  position: relative;
}
header {
  background-color: #739cbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}
header .logo img {
  height: 40px;
  width: 200px;
}
.nav {
  position: absolute;
  right: 0;
  top: 20px;
}
.nav > ul {
  display: flex;
  background-color: whitesmoke;
}
.menu > a {
  width: 150px;
  background-color: #f2d1b3;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.submenu li a {
  text-align: center;
  color: black;
  padding: 5px 0;
}
.submenu > li > a:hover {
  background-color: black;
  color: white;
}
.menu:hover > a {
  background-color: #a63f3f;
  color: white;
}
.submenu {
  display: none;
}
/* menu display none */
/* slide */
.slide {
  position: relative;
  height: 300px;
}
.slide a {
  display: block;
  position: relative;
}
.slide a > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 248, 255, 0.555);
  font-weight: bold;
  font-size: 30px;
  color: black;
  padding: 15px 50px;
  border-radius: 50px;
}
.slides {
  overflow: hidden;
}
.contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.con1 {
  background-color: whitesmoke;
}
.con1 .tabcon {
  display: flex;
  margin: 0;
}
.tab {
  display: block;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  color: black;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 2px;
  background-color: #739cbf54;
  color: white;
}
.tabcon a {
  color: black;
}
.on {
  background-color: #f2d1b3;
  font-weight: bold;
}
.notice-con {
  background-color: #f2d1b3;
}
.notice-con > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px 5px;
  border-bottom: 1px dotted black;
  color: black;
}
.notice-con > ul {
  margin: 0;
}
.con1 .tabcon .gall > a {
  color: white;
  background-color: #739cbf8c;
}
.gall-con {
  background-color: #739cbf54;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  display: none;
}
footer {
  display: flex;
  background-color: #739cbf;
  padding: 0 20px;
}
footer img {
  width: 200px;
  height: 40px;
}
.flogo {
  width: 250px;
  align-self: center;
}
.fcon {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fmenu > ul {
  display: flex;
  justify-content: space-evenly;
}
.fmenu > ul > li > a {
  color: white;
}
.copyright {
  display: block;
  text-align: right;
  margin-top: 13px;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 550px;
  padding: 40px;
  border-radius: 10px;
  display: none;
}
.popup h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid black;
}
.popup button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 6px 10px;
  margin-top: 20px;
  float: right;
}
